.image-circle {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(180deg, #FFEC9C, #FAD12A);
    overflow: hidden;
}

.profile-img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    background-color: #FAD12A;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s;
}

.scroll-to-top:hover {
    background-color: #e5b916;
}

.dark-mode {
    background-color: #1a202c;
    color: #cbd5e0;
}

.dark-mode .bg-gray-50 {
    background-color: #2d3748;
}

.dark-mode .text-gray-700 {
    color: #e2e8f0;
}

.dark-mode .text-gray-500 {
    color: #a0aec0;
}

.dark-mode .border-gray-300 {
    border-color: #4a5568;
}

.dark-mode-toggle {
    background-color: #f3f4f6;
    color: #000;
    border: none;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
}

.dark-mode-toggle:hover {
    background-color: #e5e7eb;
}

.dark-mode .dark-mode-toggle {
    background-color: #4a5568;
    color: #fff;
}

.dark-mode .dark-mode-toggle:hover {
    background-color: #2d3748;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dark-mode .header {
    background-color: #2d3748;
}

/* Estilo para los iconos en modo oscuro */
.dark-mode .icon-dark-mode {
    filter: invert(1);
}

.figure {
    position: absolute;
    z-index: -1;
    width: 200px; /* Ajusta el tamaño según tus necesidades */
}